<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSD.Reinforcement.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DSD.Reinforcement.Engine.Properties.Settings>
            <setting name="FactorOfDeadLoad" serializeAs="String">
                <value>1.35</value>
            </setting>
            <setting name="VolumetricWeightOfWater" serializeAs="String">
                <value>9.8</value>
            </setting>
            <setting name="VolumetricWeightOfSoil" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Surcharge" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MinSteelRatio" serializeAs="String">
                <value>0.13</value>
            </setting>
            <setting name="MaxSteelRatio" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AnagleOfResistance" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FactorOfImposedLoad" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="FactorOfLiveLoad" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="SaturatedDensityForFillingMaterials" serializeAs="String">
                <value>19</value>
            </setting>
        </DSD.Reinforcement.Engine.Properties.Settings>
    </userSettings>
</configuration>